<ion-header>
    <ion-toolbar>
        <ion-title>
            El nunca lo haria
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row style="height: 100%;" class="ion-justify-content-center ion-align-items-center">
        <ion-col size="10">
            <div class="ion-text-center">
                <a href="https://wa.me/?text=No le abandones, el nunca lo haría: https://www.youtube.com/watch?v=KrGIeYlmzQw">
                    <ion-card>
                        <img src="assets/img/Elnuncaloharia.jpg" />
                        <div class="card-title">No le abandones</div>
                        <div class="card-subtitle">El nunca lo haría</div>
                    </ion-card>
                </a>
            </div>
        </ion-col>
    </ion-row>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>Footer2</ion-title>
    </ion-toolbar>
</ion-footer>